.show {
    text-align: left;
    display: flex;
    margin-left: 1em;
    padding: 1em 1em 1em 0;
    cursor: pointer;

    .event-info {
        flex-grow: 1;

        .event-date {
            font-size: 1.2em;
        }

        .event-venue {
            font-size: 0.8em;
        }

    }

    .right-side-label {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 0.8em;

        .right-arrow {
            opacity: 0.6;
            transform: rotate(-90deg);
            width: 20px;
        }
    }
}