.link {
    transition: background 100ms ease-in-out, color 100ms ease-in-out;
    margin-bottom: 1em;
    border-radius: 4px;
    overflow: hidden;

    background-color: var(--link-bg-color);
    color: var(--link-color);
    &:hover {
        background-color: var(--link-bg-color-inverted);
        color: var(--link-color-inverted);
    }

    a {
        color:inherit;
        background: inherit;
        display: block;
        text-decoration: none;
    }

    .link-body {
        padding: 1em;

        background: var(--link-body-bg-color);
        color: var(--link-body-color);
    }
}